.se-hidden, .hidden { display: none !important; }

/* loading spinner */
.se-loader { position: absolute; top: calc(50% - 24px); left: calc(50% - 24px); width: 48px; height: 48px; border: 5px solid #aaa; border-bottom-color: transparent; border-radius: 50%; display: inline-block; box-sizing: border-box; animation: rotate 1s linear infinite; }
button + .se-loader { display: none; }
.se-loader-line { width:2px; height:12px; background-color:rgb(248, 248, 248, 0.3);; position: absolute; top:calc(50% - 6px); left:48px; animation:rotate 3s linear 0s infinite normal forwards running; }

/* enhanced options */
.open-enhanced-options { border: 0; background: none; outline: 0; padding: 12px 0 3px 0; cursor: pointer; }
.open-enhanced-options svg * { fill: rgba(255,255,255,.6); }
.open-enhanced-options:hover svg * { fill: #fff; }
.enhanced-options-content { align-items: center; padding: 20px }
.enhanced-options-content label { text-align: left; }
.enhanced-options-content .switcher.on .switcher-wrapper { transform: translateX(17px); }
.enhanced-options-content .switcher .switcher-wrapper { transform: translateX(0); }
.enhanced-options-modal { height: auto; width: 364px; position: fixed; overflow: hidden; -webkit-tap-highlight-color: transparent; z-index: 1101; display: block; font-size: 12px; margin: auto; box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px; background: white; border: 3px solid rgb(14, 108, 146); border-radius: 10px; visibility: visible; left: 623.5px; top: 42px; }

/* filters: favorites */
.filters-favorites { display: inline-flex; gap: 20px; }
.filters-favorites .country select { background-color: #222; border: 1px solid #000; border-radius: 14px; color: #f8f8f8; display: inline-block; height: 30px; line-height: 20px; padding: 7px 14px; font-size: .75rem; transition: 120ms ease-in-out; }
.filters-favorites .search input, .filters-favorites .search input:focus { background: #222 !important; border-radius: 14px; height: 30px !important; padding: 7px 14px !important; }
.filters-favorites > div { display: flex; font-size: 13px; gap: 10px; align-items: center; }
.filters-favorites .model-filter-link { position: relative; padding: 0 4px; }
.filters-favorites .model-filter-link:before { content: "|"; display: inline-block; position: absolute; left: -5px; top: calc(50% - 8px); font-size: 10px; color: #999; }
.filters-favorites .model-filter-link:first-child:before { content: none; }
.filters-favorites .model-filter-link.active { color: #fff; }
#roomlist_root .roomlist_container ul.list .roomCard { width: auto !important; }
#main #roomlist_root .roomlist_container ul.list[data-grid="1"] { grid-template-columns: repeat(1, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="2"] { grid-template-columns: repeat(2, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="3"] { grid-template-columns: repeat(3, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="4"] { grid-template-columns: repeat(4, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="5"] { grid-template-columns: repeat(5, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="6"] { grid-template-columns: repeat(6, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="7"] { grid-template-columns: repeat(7, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="8"] { grid-template-columns: repeat(8, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="9"] { grid-template-columns: repeat(9, 1fr); }
#main #roomlist_root .roomlist_container ul.list[data-grid="10"] { grid-template-columns: repeat(10, 1fr); }


/* language picker */
.se-langpicker { position: absolute; top: 6px; left: 2px; z-index: 1; opacity: .6; cursor: pointer; text-align: center; width: 25px; height: 17px; }
.se-langpicker:hover { opacity: 1; }
.se-langpicker .flag { width: 25px; height: 17px; margin-top: -1px; margin-left: -1px; border: 1px solid rgba(255, 255, 255, .25); background: none; outline: 0; border: 0; }
.se-langpicker > .flag:first-child { width: 25px; height: 17px; zoom: 80%; margin-top: 2px; margin-left: 2px; }
.se-langpicker > svg:not(.flag):first-child { width: 15px; height: 15px; }
.se-langpicker svg+svg { display: none !important }
.customInput.chat-input-field, .inputFieldChatPlaceholder::before,
.se-langpicker[data-active] + .chat-input-form .customInput.chat-input-field, .se-langpicker[data-active] + .chat-input-form .inputFieldChatPlaceholder::before { padding-left: 27px }
.se-langpicker[data-active=""] + .chat-input-form .customInput.chat-input-field, .se-langpicker[data-active=""] + .chat-input-form .inputFieldChatPlaceholder::before { padding-left: 21px }

/* language picker: direct messages */
.dmWindow .se-langpicker { top: .75em; }
.dmWindow .se-langpicker + textarea { line-height: 1.7; }
.dmWindow .se-langpicker[data-active] + textarea { padding-left: 31px !important; }
.dmWindow .se-langpicker[data-active=""] + textarea, .dmWindow .se-langpicker + textarea { padding-left: 26px !important; }

/* language chooser */
.language-chooser { background: #17202a; bottom: 33px; right: 0; left: 0; height: 40%; position: absolute; z-index: 2; overflow: hidden }
.language-chooser > div { height: 275px }
.language-chooser .title-block { display: flex; align-items: center; justify-content: space-between; gap: 30px; padding: 5px 10px; }
.language-chooser .title-block h3 { color: #fff; font-size: 14px; font-weight: 400; margin: 0; }
.language-chooser .title-block .search { flex-grow: 1 }
.language-chooser .close { pointer-events: auto; cursor: pointer; background: 0; color: rgba(255,255,255,.6); border: 0; outline: 0; justify-self: flex-end; }
.language-chooser .close:hover { color: #fff; }
.language-chooser .close svg { pointer-events: none; }
.language-list { height: 100%; overflow-y: scroll; max-height: 209px; }
.language-list >.flag { background: none; outline: 0; border: 0; cursor: pointer; line-height: 1; margin: 5px; padding: 0; cursor: pointer; height: auto; }
.language-list >.flag.active { border: 1px solid #fff }
.language-list >.flag svg { background: none; width: 25px; height: 17px; padding: 3px 0; pointer-events: none; }
.language-list .flag-ta, .language-list .flag-sa, .language-list .flag-pa, .language-list .flag-ne { background: #fff; }
.input.language-search { background: rgba(0,0,0,.2); padding: 10px 15px; height: 30px; border-radius: 15px; color: #fff; }
.input.language-search:hover { background: rgba(0,0,0,1) }

/* language chooser: direct messages */
.dmWindow .language-chooser { bottom: 0; height: 100%; }

/* translate topic */
.RoomSubjectSpan { width: auto !important; }
.roomSubject .translate-line button { display: inline; position: relative; top: .25em; }

/* translate chat */
.msg-text .translate-line button { display: inline; }
.msg-text .translate-line { visibility: hidden; }
.msg-text:hover .translate-line { visibility: visible; }
.chat-message-translate-button { background: none; border: 0; outline: 0; cursor: pointer; }
.chat-message-translate-button * { fill: rgba(255,255,255,.6); }
.chat-message-translate-button:hover * { fill: #fff; }
.translated-line { padding-left: 7px; font-size: 95%; color: #dcdcdc; }
.translated-line + .translate-line { visibility: hidden !important; pointer-events: none; }
#FVChatTabContents .chat-input-div { top: 11px; }
#FVChatTabContents .chat-input-div { position: relative; }
#FVChatTabContents .se-langpicker { top: 9px; }

/* Translate Private Messsages */
.messenger-chat .language-search { max-width: 140px; }
.messenger-chat .content-messages .message-base.m-bg-error { background-color: #ab262e; }
.messenger-chat .content-messages .message-base { font-size: .65rem; line-height: 1.15rem; background-color: transparent; border-bottom: 1px solid #2e2e2e; color: #e1e1e1; padding: 15px; }
.messenger-chat .content-messages .model-chat-error { bottom: 0px; cursor: pointer; left: 0px; position: absolute; right: 0px; z-index: 1; animation: 120ms ease 0s 1 normal none running opacity-fade-show; }
.messenger-chat .content-messages .system-text-message-error { color: rgb(255, 255, 255); cursor: pointer; padding: 10px; }
.messenger-chat .content-messages .message-body { width: 100%; }

/* Switcher */
.toggle { position: relative; display: inline-block; }
.toggle__input { display: none; }
.toggle__label { display: block; width: 40px; height: 20px; background-color: #2d3e50; border-radius: 99px; cursor: pointer; transition: background-color 0.3s ease; }
.toggle__input:checked + .toggle__label { background: #f47321; }
.toggle__input:checked + .toggle__label::after { left: 23px; }
.toggle__label::after { content: ''; position: absolute; top: 2px; left: 2px; width: 16px; height: 16px; background: #ffffff; border-radius: 50%; transition: left 0.3s ease; }
#tab-row .toggle__label {  }
#tab-row .toggle__label::after {  }

/* dnd mode */
.switch-dnd-mode { display: flex; align-items: center; flex: 1; justify-content: flex-end; position: absolute; bottom: calc(50% - 10px); right: 10px; }
.se-switcher + input[type="checkbox"] { display: none }
.se-switcher > span { padding-right: 10px; }

/* listing: model info overlay */
.se-model-info { position: relative; }
.se-model-info .overlay { position: absolute; bottom: calc(100% + 10px); right: 0; background: #222; padding: 4px; font-size: 11px; }
.model-list-item.active .model-additional-menu.model-additional-menu--model-list-item { display: flex !important }
.se-model-info dl { display: grid; grid-gap: 4px 10px; grid-template-columns: max-content; }
.se-model-info dt { font-weight: 400; }
.se-model-info dd { display: block; margin-left: 40px; margin: 0; grid-column-start: 2; }

/* true fullscreen & picture in picture */
.btn.se-pip, .btn.se-pip:active { position: absolute; right: 24px; top: 60px; }

/* Message templates */
.se-message-templates { background: #17202a; border-radius: 8px 8px 0 0; padding: 16px 16px 8px; bottom: 33px; right: 0; left: 0; height: 40%; position: absolute; z-index: 2; overflow: hidden }
.se-message-templates .title-block { display: flex; }
.se-message-templates .title-block .search { flex: 1; }
.se-message-templates-btn { background: none; border: 0; outline: 0; cursor: pointer; margin-right: 2px; }
.se-message-templates-btn svg { width: 15px; height: 15px; fill: rgba(255,255,255,.6); top: 1px; position: relative; }
.se-message-templates-btn:hover * { fill: #fff }
.se-message-templates-btn:hover { color: rgb(99,161,99) !important; }
.se-messages-tpl-list { margin: 0; padding: 0; columns: 2; list-style: none; }
.se-close-message-tpl { pointer-events: auto; cursor: pointer; background: 0; color: rgba(255,255,255,.6); border: 0; outline: 0; justify-self: flex-end; }
.se-message-tpl { margin-top: 7px; }
.se-message-tpl:first-of-type { margin-top: 0; }
.se-message-tpl span { padding: 10px; border-radius: 6px; display: inline-block; background: #222; font-size: 0.875em; cursor: pointer; }
.se-message-tpl span:hover { background: #141414; }
.se-add-message { cursor: pointer; }
.se-add-message .icon-add { width: 30px; height: 30px; fill: #141414; }
.se-add-message:hover .icon-add { fill: #000; }

/* take screenshot */
.se-take-screenshot { margin-right: 5px; }

/* minor fixes */
#sendTipButton { max-width: auto !important; }

/* keyframes */
@keyframes rotate {
  0% { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}