.hidden { display: none !important; }

/* loading spinner */
.se-loader { position: absolute; top: calc(50% - 24px); left: calc(50% - 24px); width: 48px; height: 48px; border: 5px solid #aaa; border-bottom-color: transparent; border-radius: 50%; display: inline-block; box-sizing: border-box; animation: rotate 1s linear infinite; }
button + .se-loader { display: none; }
.se-loader-line { width:2px; height:12px; background-color:rgb(248, 248, 248, 0.3);; position: absolute; top:calc(50% - 6px); left:48px; animation:rotate 3s linear 0s infinite normal forwards running; }

/* enhanced options */
.open-enhanced-options { border: 0; background: none; outline: 0; padding: 12px 0 3px 0; cursor: pointer; }
.open-enhanced-options svg * { fill: rgba(255,255,255,.6); }
.open-enhanced-options:hover svg * { fill: #fff; }
.enhanced-options-content { align-items: center; padding: 20px }
.enhanced-options-content label { text-align: left; }
.enhanced-options-content .switcher.on .switcher-wrapper { transform: translateX(17px); }
.enhanced-options-content .switcher .switcher-wrapper { transform: translateX(0); }
.enhanced-options-modal { height: auto; width: 364px; position: fixed; overflow: hidden; -webkit-tap-highlight-color: transparent; z-index: 1101; display: block; font-size: 12px; margin: auto; box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px; background: white; border: 3px solid rgb(14, 108, 146); border-radius: 10px; visibility: visible; left: 623.5px; top: 42px; }


/* language picker */
.se-langpicker { position: absolute; top: 6px; left: 2px; z-index: 1; opacity: .6; cursor: pointer; text-align: center; width: 25px; height: 17px; }
.se-langpicker:hover { opacity: 1; }
.se-langpicker .flag { width: 25px; height: 17px; margin-top: -1px; margin-left: -1px; border: 1px solid rgba(255, 255, 255, .25); background: none; outline: 0; border: 0; }
.se-langpicker > .flag:first-child { width: 25px; height: 17px; zoom: 80%; margin-top: 2px; margin-left: 2px; }
.se-langpicker > svg:not(.flag):first-child { width: 15px; height: 15px; }
.se-langpicker svg+svg { display: none !important }
.customInput.chat-input-field, .inputFieldChatPlaceholder::before,
.se-langpicker[data-active] + .chat-input-form .customInput.chat-input-field, .se-langpicker[data-active] + .chat-input-form .inputFieldChatPlaceholder::before { padding-left: 25px }
.se-langpicker[data-active=""] + .chat-input-form .customInput.chat-input-field, .se-langpicker[data-active=""] + .chat-input-form .inputFieldChatPlaceholder::before { padding-left: 15px }

/* language chooser */
.language-chooser { background: #17202a; bottom: 33px; right: 0; left: 0; height: 40%; position: absolute; z-index: 2; overflow: hidden }
.language-chooser > div { height: 275px }
.language-chooser .title-block { display: flex; align-items: center; justify-content: space-between; gap: 30px; padding: 5px 10px; }
.language-chooser .title-block h3 { color: #fff; font-size: 14px; font-weight: 400; margin: 0; }
.language-chooser .title-block .search { flex-grow: 1 }
.language-chooser .close { pointer-events: auto; cursor: pointer; background: 0; color: rgba(255,255,255,.6); border: 0; outline: 0; justify-self: flex-end; }
.language-chooser .close:hover { color: #fff; }
.language-chooser .close svg { pointer-events: none; }
.language-list { height: 100%; overflow-y: scroll; max-height: 209px; }
.language-list >.flag { background: none; outline: 0; border: 0; cursor: pointer; line-height: 1; margin: 5px; padding: 0; cursor: pointer; height: auto; }
.language-list >.flag.active { border: 1px solid #fff }
.language-list >.flag svg { background: none; width: 25px; height: 17px; padding: 3px 0; pointer-events: none; }
.language-list .flag-ta, .language-list .flag-sa, .language-list .flag-pa, .language-list .flag-ne { background: #fff; }
.input.language-search { background: rgba(0,0,0,.2); padding: 10px 15px; height: 30px; border-radius: 15px; color: #fff; }
.input.language-search:hover { background: rgba(0,0,0,1) }

/* translate chat */
.msg-text .translate-line button { display: inline; }
.msg-text .translate-line { visibility: hidden; }
.msg-text:hover .translate-line { visibility: visible; }
.chat-message-translate-button { background: none; border: 0; outline: 0; cursor: pointer; }
.chat-message-translate-button * { fill: rgba(255,255,255,.6); }
.chat-message-translate-button:hover * { fill: #fff; }
.translated-line { padding-left: 7px; font-size: 95%; color: #dcdcdc; }
.translated-line + .translate-line { visibility: hidden !important; pointer-events: none; }

/* translate Private Messsages */
.messenger-chat .language-search { max-width: 140px; }
.messenger-chat .content-messages .message-base.m-bg-error { background-color: #ab262e; }
.messenger-chat .content-messages .message-base { font-size: .65rem; line-height: 1.15rem; background-color: transparent; border-bottom: 1px solid #2e2e2e; color: #e1e1e1; padding: 15px; }
.messenger-chat .content-messages .model-chat-error { bottom: 0px; cursor: pointer; left: 0px; position: absolute; right: 0px; z-index: 1; animation: 120ms ease 0s 1 normal none running opacity-fade-show; }
.messenger-chat .content-messages .system-text-message-error { color: rgb(255, 255, 255); cursor: pointer; padding: 10px; }
.messenger-chat .content-messages .message-body { width: 100%; }

/* switcher */
.switch-dnd-mode { display: flex; align-items: center; flex: 1; justify-content: flex-end; margin-right: 46px; }
.switcher + input[type="checkbox"] { display: none }

/* dnd mode */
.switch-dnd-mode { display: flex; align-items: center; flex: 1; justify-content: flex-end; margin-right: 46px; }
.switcher + input[type="checkbox"] { display: none }

/* listing: model info overlay */
.se-model-info { position: relative; }
.se-model-info .overlay { position: absolute; bottom: calc(100% + 10px); right: 0; background: #222; padding: 4px; font-size: 11px; }
.model-list-item.active .model-additional-menu.model-additional-menu--model-list-item { display: flex !important }
.se-model-info dl { display: grid; grid-gap: 4px 10px; grid-template-columns: max-content; }
.se-model-info dt { font-weight: 400; }
.se-model-info dd { display: block; margin-left: 40px; margin: 0; grid-column-start: 2; }

/* true fullscreen & picture in picture */
.btn.se-pip, .btn.se-pip:active { position: absolute; right: 24px; top: 60px; }

/* Message templates */
.se-message-templates { background: #17202a; border-radius: 8px 8px 0 0; padding: 16px 16px 8px; bottom: 33px; right: 0; left: 0; height: 40%; position: absolute; z-index: 2; overflow: hidden }
.se-message-templates .title-block { display: flex; }
.se-message-templates .title-block .search { flex: 1; }
.se-message-templates-btn { background: none; border: 0; outline: 0; cursor: pointer; margin-right: 2px; }
.se-message-templates-btn svg { width: 15px; height: 15px; fill: rgba(255,255,255,.6); top: 1px; position: relative; }
.se-message-templates-btn:hover * { fill: #fff }
.se-message-templates-btn:hover { color: rgb(99,161,99) !important; }
.se-messages-tpl-list { margin: 0; padding: 0; columns: 2; list-style: none; }
.se-close-message-tpl { pointer-events: auto; cursor: pointer; background: 0; color: rgba(255,255,255,.6); border: 0; outline: 0; justify-self: flex-end; }
.se-message-tpl { margin-top: 7px; }
.se-message-tpl:first-of-type { margin-top: 0; }
.se-message-tpl span { padding: 10px; border-radius: 6px; display: inline-block; background: #222; font-size: 0.875em; cursor: pointer; }
.se-message-tpl span:hover { background: #141414; }
.se-add-message { cursor: pointer; }
.se-add-message .icon-add { width: 30px; height: 30px; fill: #141414; }
.se-add-message:hover .icon-add { fill: #000; }

/* minor fixes */
#sendTipButton { max-width: auto !important; }

/* keyframes */
@keyframes rotate {
  0% { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}